{{# field }}
<div class="c-field {{ styleModifier }}">
	<label for="{{ id }}" class="c-field__label">{{ label }}</label>
	<input class="c-field__input" id="{{ id }}" type="{{ type }}" placeholder="{{ placeholder }}" value="{{ value }}" />
	{{# fieldNote }}
		<span class="c-field__note">{{{ fieldNote }}}</span>
	{{/ fieldNote }}

</div><!--end c-field-->
{{/ field }}
