<div>Primary font: "Roboto Slab", "Franklin Gothic Medium", Tahoma, sans-serif;</div>
<div><em>Primary font italic: "Roboto Slab", "Franklin Gothic Medium", Tahoma, sans-serif;</em></div>
<div><strong>Primary font bold: "Roboto Slab", "Franklin Gothic Medium", Tahoma, sans-serif;</strong></div>
<div class="font-secondary">Secondary font: "Oswald", Impact, "Franklin Gothic Bold", sans-serif;</div>
<div class="font-secondary"><em>Secondary font italic: "Oswald", Impact, "Franklin Gothic Bold", sans-serif;</em></div>
<div class="font-secondary"><strong>Secondary font bold; "Oswald", Impact, "Franklin Gothic Bold", sans-serif;</strong></div>
