<header class="c-header" role="banner">
	<div class="c-header__inner">
		{{> molecules-logo-link }}

		<div class="c-header__controls">
			{{# navToggle }}
			{{> molecules-button }}
			{{/ navToggle }}

			{{# primaryNav }}
			{{> molecules-primary-nav }}
			{{/ primaryNav }}

		</div><!-- end c-header__controls -->
	</div>
</header><!-- end c-header -->
