/*------------------------------------*\
 # PRICE
\*------------------------------------*/

/**
* 1) Price on category detail page
*/
.c-price {
	text-align: center;
	font-size: $font-size-large;
	font-weight: bold;
	color: $color-brand-blue;
	margin-bottom: 1rem;
}
